[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-flink = "==1.17"
boto3 = "*"
docker = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
